*{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 60%;
}

.tab1{
    border-collapse: collapse;
    background-color: yellow;
    text-align: center;
}
.cap1{
    font-size: 3em;
}
.head1{
    background-color: white;
}
.foot1{
    background-color: white;
}
.body1{
    background-color: white;
}

.fusuion1{
    background-color: orange;
}
td, th{
    border:2px solid black;
    width: 200px;
    height: 60px;
}
.tab3{
    border-collapse: collapse;
    background-color: green;
    width: 100%;
    height: 100%;
}
.tab2{
    border-collapse: collapse;
    background-color: orange;
    width: 100%;
    height: 100%;
}

.td2, .th2{
    border: 2px solid black;
    width: 200px;
    text-align: center;
    height: 100px;
}


