*{
    margin: 0;
}
.formulair{
    background-color: rgb(199, 195, 195);
    padding: 10px;
}
.legend{
    font-size: 1.5em;
}
.envoi{
    font-size: 1.5em;
}
.color{
    color: black;
}

.p2{
    padding-left: 15px;
    font-size: 1.2em;
}
